html, body{
    height: 100%;
    margin: 0;
}

body{
    max-width: 1500px;
    margin: auto;
}
.backgroundline1{
    border-top: solid 10px brown;
    z-index: -1;
    position: relative;
    top: 50px;
}

.backgroundline2{
    border-top: solid 10px brown;
    z-index: -2;
    position: relative;
    transform: rotate(90deg);
    left: 450px;
    top: 200px;
}

main{
    margin:40px auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.food li{
    list-style: none;
    padding-top: 20px;
}

.foodbutton{
    border: none;
    background: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.comment{
    color: red;
}

.close{
    display: none;
}

.open{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food{
    width: 100%;
}

ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

li{
    width: 50%;
    align-self: center;
}

.foodbutton img{
    width: 80%;
}

h2{
    text-align: center;
}

.tutorial{
    text-align: center;
    line-height: 30px;
}

@media all and (max-width: 500px){
    .backgroundline1,.backgroundline2{
        border-top: solid 5px brown;
        z-index: -1;
    }
    
    .backgroundline2{
        position: relative;
        transform: rotate(90deg);
        left: 170px;
        top: 195px;
    }

}